# Node
node_modules/
dist/
build/
.env
.env.local

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.snap

# Python
__pycache__/
.venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
